:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #111
}

body {
  margin: 0;
  padding: 2rem;
  background: #f7f7f8
}

.container {
  max-width: 760px;
  margin: 0 auto;
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, .06)
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;

  h2 {
    margin: 0;
  }
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: center
}

.midi-control {
  display: grid;
  grid-auto-flow: row;

}

.controls label {
  display: flex;
  flex-direction: column;
  font-size: .9rem
}

.buttons {
  display: flex;
  gap: .5rem;
  align-items: center
}

.hint {
  margin-top: 1rem;
  color: #444
}

.instructions:popover-open {
  margin-top: 1.5rem;
  padding: 1rem;
  background: #f1f2f2;
  border: 1px solid #dcdcdc;
  border-radius: 6px 6px 0 0;
  max-width: 400px;
}

.module {
  margin-block: 2rem;
  
}

#add-oscillator {
  padding: 0.75rem 1.5rem;
  background: #28a745;
  color: rgb(32, 32, 32);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
}

#add-oscillator:hover {
  background: #218838;
}